<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
      <div>
          you just switched to another page this is just to see how page is rendered when it does not fit sideways
        </div>
  </body>
</html>
