<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="refresh" content="3;./select_booktime?room=<%= data["room"] %>&userId=<%= data["userId"] %>"/>
    <title></title>
  </head>
  <body>
    INVALID Input error!!!
    You will be redirected in 3 seconds
  </body>
</html>
